.headshot {
  float: left;
  width:25%;
  max-width: 300px;
  min-width: 150px;
  height: auto;
  margin: 2vw;
}

body {
  margin: 3.25em;
  font-family: fantasy, sans-serif;
  font-variant: small-caps;
  background-image: url("/images/fixedgarden.png"), url("/images/3616.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
}

h1 {
  background-image: url("/images/papertexture.png");
  border-radius: 25px;
  padding: 10vh 10vw;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin: 35vh 5vw 35vh 5vw;
  overflow: auto;
}

.bodytext {
  margin: 35vh 5vw;
  background-image: url("/images/papertexture.png");
  border-radius: 25px;
  padding: 2vh 5vw;
  object-fit: contain;
  content: "";
  clear: both;
  display: table;
}


* {
  box-sizing: border-box;
}

/*

    font-variant: small-caps;
    background-image: url(../images/dogbackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: dimgrey;
    text-align: center; */

/* add on work if desired - attempt to make stars scroll slower than text
https: //keithclark.co.uk/articles/pure-css-parallax-websites/ */
