.headshot {
  float: left;
  width:40%;
  max-width: 300px;
  min-width: 150px;
  height: auto;
  margin: 2vw;
  border-radius: 100px;
  padding: 1vw;
}

body {
  margin: 3vw;
  font-family: fantasy, sans-serif;
  font-variant: small-caps;
  background-image: url("/images/fixedgarden.png"), url("/images/3616.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
}

h1 {
  background-image: url("/images/papertexture.png");
  border-radius: 25px;
  padding: 10vh 10vw;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin: 35vh 5vw 35vh 5vw;
  overflow: auto;
}

.bodytext {
  margin: 35vh 5vw;
  background-image: url("/images/papertexture.png");
  border-radius: 25px;
  padding: 2vh 5vw;
  object-fit: contain;
  content: "";
  clear: both;
  display: table;
}

.projects {
  background-image: url("/images/papertexture.png");
  border-radius: 25px;
  padding: 2vh 5vw;
  margin: 35vh 5vw;
}

.contacts {
    background-image: url("/images/papertexture.png");
    border-radius: 25px;
    padding: 2vh 5vw;
    margin: 35vh 5vw;
    object-fit: contain;
    content: "";
    clear: both;
    display: table;
  }

.contactIcon {
  border-radius: 25px;
  max-width: 20vw;
}

.iconcontainer {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

* {
  box-sizing: border-box;

}

/* add on work if desired - attempt to make stars scroll slower than text
https: //keithclark.co.uk/articles/pure-css-parallax-websites/ */
